# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build directory
/output/build/
/output/CMakeFiles/
output/CMakeCache.txt
output/Makefile
output/cmake_install.cmake

# VS Code settings (optional but recommended)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
